
.logo img{
    padding-left: 35em;
     width: 150px;
    

}
    padding-top: ;
    padding-bottom: ;
    padding-inline-end: ;

.gray{
    margin: top: 0.5em;;
  color: gray;
 }

.logo .green{
padding-left: 30em;
}
.background{

}
   
 
.green{
    color: green;
    padding left:25em;
}
.orange{
    color: orange;
    
}
.border-v{
    
    
}
main{
    padding-left: 20em;


}
.border-o{
     border-bottom: color(srgb rgb(227, 239, 240) rgb(108, 187, 108) rgb(28, 116, 106));
     padding: ;
}
a {color: green;}
    

.footer p{
    padding: left 20px;em;
}